/*
@Theme: Appzone
@Author: ThemeMascot
@URL: http://themeforest.net/user/ThemeMascot

This file contains the styling for the actual theme, this
is the file you need to edit to change the look of the
theme.
*/

/**
 * Table of Contents:
 *
 * 01.0 - Basic Structure
 * 		01.1 - Typography
 * 		01.2 - Button
 * 		01.3 - section
 * 		01.4 - divider
 * 		01.5 - Solid Color Background
 * 		01.6 - Pattern Background
 * 		01.7 - Background Image
 * 		01.8 - Background Video
 * 		01.9 - Triangle Down
 * 		01.10 - icon box 
 * 		01.11 - other classes
 * 02.0 -> Preloader
 * 03.0 - Owl Carousel
 * 04.0 - Home
 * 05.0 - Header
 * 06.0 - Funfact
 * 07.0 - Features
 * 08.0 - Benefits of your App
 * 09.0 - How it Works
 * 10.0 - Screenshots
 * 11.0 - Pricing Table
 * 12.0 - Testimonials
 * 13.0 - Mailchimp
 * 14.0 - winning-history
 * 15.0 - Contact
 * 16.0 - footer
 * -----------------------------------------------
*/


/**
 * 01.0 - Basic Structure
 * -----------------------------------------------
*/
*::-moz-selection {
 background: #2a2a2a;
 color: #fff;
 text-shadow: none;
}

::selection {
	background: #2a2a2a;
	color: #fff;
	text-shadow: none;
}

/* Internet Explorer 10 in Windows 8 and Windows Phone 8 Bug fix */
@-webkit-viewport {
 width: device-width;
}

 @-moz-viewport {
 width: device-width;
}

 @-ms-viewport {
 width: device-width;
}

 @-o-viewport {
 width: device-width;
}

 @viewport {
 width: device-width;
}

*, *:before, *:after {
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
}

/**
 * 01.1 - Typography
 * -----------------------------------------------
*/
body, html {
	height: 100%;
	width: 100%;
}

html, html a {
	-webkit-font-smoothing: antialiased;
}

body {
	color: #333;
	font-family: 'Open Sans', sans-serif;
	font-size: 14px;
	font-weight: 400;
	line-height: 23px;
	margin: auto !important;
	overflow-x: hidden !important;
	text-align: center;
}

h1, h2, h3, h4, h5, h6 {
	color: #000;
	text-transform: capitalize;
	font-weight: 400;
}

h1 {
	font-size: 48px;
	line-height: 78px;
}

h2 {
	font-size: 36px;
	line-height: 58px;
}

h3 {
	font-size: 30px;
	line-height: 49px;
}

h4 {
	font-size: 24px;
	line-height: 39px;
}

h5 {
	font-size: 18px;
	line-height: 19px;
}

h6 {
	font-size: 14px;
	line-height: 23px;
}

h1 span, h2 span, h3 span, h4 span, h5 span, h6 span {
	font-weight: 700;
}

p {
	font-size: 14px;
	line-height: 23px;
}

a {
	outline: none !important;
	text-decoration: none !important;
    -webkit-transition: all ease 0.25s;
	   -moz-transition: all ease 0.25s;
	    -ms-transition: all ease 0.25s;
	        transition: all ease 0.25s;
}

a:hover {
	color: #2a2a2a;
	text-decoration: none;
}

a:focus {
	color: #2a2a2a;
	text-decoration: none;
}

textarea:focus, input:focus {
	color: #2a2a2a;
}

ul, ol {
	padding-left: 0;
}

li {
	list-style: none;
}

img {
	max-width: 100%;
}

iframe {
	border: none;
	max-width: 100%;
}

/**
 * 01.2 - Button
 * -----------------------------------------------
*/
.btn {
	border: none;
	border-radius: 0;
	color: #2a2a2a;
	font-size: 14px;
	margin: 5px;
	padding: 10px 15px;
	text-shadow: none;
	text-transform: uppercase;
    -webkit-transition: all ease 0.25s;
	   -moz-transition: all ease 0.25s;
	    -ms-transition: all ease 0.25s;
	     -o-transition: all ease 0.25s;
	        transition: all ease 0.25s;
}

.btn:hover, .btn:focus, .btn.active {
	background: #2a2a2a;
	color: #fff;
	border-color: #2a2a2a;
}

.btn-default, .btn-default[disabled], .btn-default[disabled]:focus {
	color: #fff;
	padding: 10px 15px;
}

.btn-black {
	background-color: #2a2a2a;
	color: #fff;
}

.btn-bordered {
	background-color: transparent;
	border: 1px solid #333;
	color: #fff;
}

.btn-bordered.black {
	color: #333;
}

.btn-bordered.black:hover {
	color: #fff;
}

.btn-lg {
	font-size: 15px;
	padding: 15px 25px;
}

.btn-sm {
	font-size: 12px;
	padding: 8px 12px;
}

.btn-xs {
	font-size: 11px;
	padding: 3px 7px;
}

.btn i {
    font-size: 24px;
  	padding-right: 15px;
    vertical-align: middle;
}

.btn-home {
	background: none repeat scroll 0 0 #fff;
	border-radius: 40px;
	color: #2a2a2a;
	display: inline-block;
	font-family: 'Open Sans', sans-serif;
	font-size: 14px;
	line-height: 20px;
	overflow: hidden;
	padding: 15px 25px 15px 90px;
	position: relative;
	text-align: left;
}

.btn-home i {
	top: 17px;
	transition: all 0.5s ease-in-out 0s;
}

.btn-home i {
	border-right: 1px solid;
	font-size: 36px;
	left: 20px;
	padding-right: 14px;
	position: absolute;
	top: 18px;
}

.btn-home span {
	display: block;
	font-size: 18px;
	position: relative;
	z-index: 2;
}

/**
 * 01.3 - section
 * -----------------------------------------------
*/
section {
	background-color: #fff;
	z-index: 5;
}

section > .container, section > .container-fluid {
	padding-top: 90px;
	padding-bottom: 90px;
}

.section-title {
	padding-bottom: 60px;
	text-align: center;
}

.section-title h2 {
	display: inline-block;
	margin-top: 0;
	position: relative;
}

.section-title p {
	margin-top: 5px;
}

.section-title h2:after {
	content: "";
	height: 10px;
	left: -30px;
	position: absolute;
	top: 25px;
	-webkit-transform: rotate(45deg);
	   -moz-transform: rotate(45deg);
	    -ms-transform: rotate(45deg);
	     -o-transform: rotate(45deg);
	        transform: rotate(45deg);
	width: 10px;
}

.section-title h2:before {
	content: "";
	height: 10px;
	right: -30px;
	position: absolute;
	top: 25px;
	-webkit-transform: rotate(45deg);
	   -moz-transform: rotate(45deg);
	    -ms-transform: rotate(45deg);
	     -o-transform: rotate(45deg);
	        transform: rotate(45deg);
	width: 10px;
}

.section-title h2.no-dot:after {
	height: 0;
}

.section-title h2.no-dot:before {
	height: 0;
}

/**
 * 01.4 - divider
 * -----------------------------------------------
*/
.divider {
    background-attachment: fixed;
	background-image: url("../images/bg/bg2.jpg");
	background-position: center center;
	background-repeat: no-repeat;
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	background-size: cover;	
}

.divider .container {
	padding-top: 100px;
	padding-bottom: 100px;
	position: relative;
}

.layer-overlay {
	background: none repeat scroll 0 0 rgba(0, 0, 0, 0.65);
}

.layer-overlay.white {
	background: none repeat scroll 0 0 rgba(255, 255, 255, 0.30);
}

/*.layer-overlay.pattern {
	background-image: url("../images/bg/bg1.gif");
}

.layer-overlay.pattern2 {
	background-image: url("../images/bg/bg1.gif");
}*/

.divider, .divider h1, .divider h2, .divider h3, .divider h4, .divider h5, .divider h6, .divider p {
	color: #fff;
}

/**
 * 01.5 - Solid Color Background
 * -----------------------------------------------
*/
.solid-color, .solid-color.gray {
	background-color: #eee;
	background-image: none !important;
}

.solid-color.blue {
	background-color: #3A539B;
}

.solid-color.clay {
	background-color: #22313F;
}

.solid-color.eucalyptus {
	background-color: #26A65B;
}

.solid-color.green {
	background-color: #019875;
}

.solid-color.silver {
	background-color: #95A5A6;
}

.solid-color .layer-overlay {
	background: none repeat scroll 0 0 rgba(0, 0, 0, 0.20);
}

/**
 * 01.6 - Pattern Background
 * -----------------------------------------------
*/
.bg-pattern, .bg-pattern.pattern1 {
	background: url("../images/pattern/pattern1.png") !important;
}

.bg-pattern.pattern2 {
	background: url("../images/pattern/pattern2.png") !important;
}

.bg-pattern.pattern3 {
	background: url("../images/pattern/pattern3.png") !important;
}

.bg-pattern.pattern4 {
	background: url("../images/pattern/pattern4.png") !important;
}

.bg-pattern.pattern5 {
	background: url("../images/pattern/pattern5.png") !important;
}

.bg-pattern .layer-overlay {
	background: none;
}

/**
 * 01.7 - Background Image
 * -----------------------------------------------
*/
.bg-img1 {
	background-image: url("../images/bg/bg1.gif") !important;
}

.bg-img2 {
	background-image: url("../images/bg/bg2.jpg") !important;
}

.bg-img3 {
	background-image: url("../images/bg/bg2.jpg") !important;
}

/**
 * 01.8 - Background Video
 * -----------------------------------------------
*/
.bg-video {
	height: 100%;
	position: absolute;
	text-align: center;
	width: 100%;
}

.bg-video .video {
	height: 100%;
	left: 0;
	margin: 0 !important;
	position: relative;
	top: 0;
	width: 100%;
}

.bg-video .video .mbYTP_wrapper {
	z-index: -1 !important;
}

/**
 * 01.9 - Triangle Down
 * -----------------------------------------------
*/
.triangle-down {
	border-left: 70px solid transparent;
	border-right: 70px solid transparent;
	border-top: 115px solid #2A2A2A;
	height: 0;
	margin: 0 auto;
	width: 0;
}

.triangle-down div {
	color: #fff;
	margin: -90px 0 0 -16px;
}

/**
 * 01.10 - icon box
 * -----------------------------------------------
*/
.icon-box {
	margin-bottom: 30px;
}

.icon-box .icon {
	margin: 0 auto;
}

.icon-box .icon i {
	color: #fff;
	font-size: 36px;
}

/**
 * 01.11 - other classes
 * -----------------------------------------------
*/

.theme-color-bg {
	background-image: none;
}

.theme-color-bg .layer-overlay {
	background: none repeat scroll 0 0 rgba(0, 0, 0, 0.20);
}

.no-bottom {
	margin-bottom: 0 !important;
	padding-bottom: 0 !important;
}

.no-bg {
	background: none !important;
}

.no-padding {
	padding: 0 !important;
}

.no-padding-top {
	padding-top: 0 !important;
}

.no-padding-bottom {
	padding-bottom: 0 !important;
}

.no-margin {
	margin: 0 !important;
}

.small-padding > .container, .small-padding > .layer-overlay > .container {
	padding: 30px 0 50px 0!important;
}

.margin-150 {
	margin-top: 150px!important;
	margin-bottom: 150px!important;
}

.margin-30 {
	margin: 30px 0 !important;
}

.margin-top-30 {
	margin-top: 30px !important;
	margin-left: 100px;
}

.margin-top-60 {
	margin-top: 60px !important;
}

.margin-top-100 {
	margin-top: 100px !important;
}

.margin-top-neg-30 {
	margin-top: -30px !important;
}

.margin-bottom-60 {
	margin-bottom: 60px !important;
}

.padding-150 {
	padding-top: 150px!important;
	padding-bottom: 150px!important;
}

.padding-60 {
	padding-top: 60px!important;
	padding-bottom: 60px!important;
}

.padding-30 {
	padding-top: 30px!important;
	padding-bottom: 30px!important;
}

.padding-top-100 {
	padding-top: 100px !important;
}

.padding-top-150 {
	padding-top: 150px !important;
}

.text-white {
	color: #fff !important;
}

.text-dark {
	color: #2a2a2a !important;
}

.img-left {
	float: left;
	margin-bottom: 10px;
	margin-right: 15px;
}

.position-relative {
	position: relative;
}

.img-absolute {
	left: 0;
	margin: 0 auto;
	position: absolute;
	right: 0;
}

/*
 * 02.0 -> Preloader
 * -----------------------------------------------
*/
#preloader {
	background-color: #FFF;
	width: 100%;
	height: 100%;
	position: fixed;
	z-index: 100000;
}

#spinner {
	position: absolute;
	height: 60px;
	width: 60px;
	top: 50%;
	border-radius: 100%;
	left: 48%;
	margin-left: -17px;
	margin-top: -17px;
	-webkit-animation: rotation 1s infinite linear;
	   -moz-animation: rotation 1s infinite linear;
	     -o-animation: rotation 1s infinite linear;
	        animation: rotation 1s infinite linear;
}

#spinner:before {
	border-top: 8px double #ddd;
	border-left: 8px double #ddd;
	border-right: 8px double #ddd;
	content: "";
	display: block;
	position: absolute;
	height: 100%;
	width: 100%;
	border-radius: 100%;
}

/* rotation */
@-webkit-keyframes rotation {
   from {-webkit-transform: rotate(0deg);}
   to {-webkit-transform: rotate(359deg);}
}
@-moz-keyframes rotation {
   from {-moz-transform: rotate(0deg);}
   to {-moz-transform: rotate(359deg);}
}
@-o-keyframes rotation {
   from {-o-transform: rotate(0deg);}
   to {-o-transform: rotate(359deg);}
}
@keyframes rotation {
   from {transform: rotate(0deg);}
   to {transform: rotate(359deg);}
}

/**
 * 03.0 - Owl Carousel
 * -----------------------------------------------
*/
.owl-carousel .item {
	margin: 5px;
}

.owl-carousel .item img {
	width: 100%;
	height: auto;
}

.owl-carousel .item {
	margin: 10px;
}

.owl-theme .owl-controls .owl-page span {
	border-radius: 0;
	width: 36px;
}

/**
 * 04.0 - Home
 * -----------------------------------------------
*/
#home {
	background-image: url("../images/bg/bg1.gif");
	min-height: 700px;
	overflow: hidden;
	position: relative;
}

#home .bg-video .mbYTP_wrapper {
	min-height: 700px !important;
	height: 100%;
}

/*only for webkit  browsers*/
@media screen and (-webkit-min-device-pixel-ratio:0) {
    #home{ 
        background-attachment: scroll;
    }
}

#home .layer-overlay {
	height: 100%;
}

#home, #home h1, #home h2, #home h3, #home h4, #home h5, #home h6 {
	color: #fff;
}

#home h4 {
	text-transform: capitalize;
}

#home .home-banner {
	display: table;
	height: 100%;
	left: 0;
	margin: 0 auto;
	position: absolute;
	right: 0;
	top: 0;
	width: 100%;
	z-index: 10;
}

#home .home-banner .banner-content {
	display: table-cell;
	min-width: 0;
	vertical-align: middle;
}

#home .header-logo img {
	margin-top: 70px;
}

.btn-home {
	margin-top: 200px;
	min-width: 240px;
}

/**
 * 05.0 - Header
 * -----------------------------------------------
*/
#header .navbar-brand {
	/*padding-top: 20px;*/
	margin-right: 25px;
}

#header .navbar {
	background: #eee;
	border: none;
	border-radius: 0;
	height: 70px;
}

#header .navbar.sticky {
	width: 100%;
	height: 75px;
	z-index: 1111;
}

#header .navbar-default .navbar-nav > li, #header .navbar-default .navbar-nav > li > a {
	color: #333;
	font-size: 14px;
}

#header .header-nav > li > a {
	text-transform: uppercase;
	padding: 15px;
}

#header .header-nav > li:hover > a:before, #header .header-nav > li.current > a:before {
	content: "\f0d7";
	font-family: fontawesome;
	left: 0;
	margin: 0 auto;
	position: absolute;
	right: 0;
	top: -10px;
	transition: 0s;
}

#header .header-nav li {
	padding: 15px 0;
}

#header .contact-info > li span {
	padding: 0 10px;
}

#header .contact-info {
	padding: 12px 0;
}

#header .contact-info i {
	padding-right: 10px;
}

/**
 * 06.0 - Funfact
 * -----------------------------------------------
*/
#funfact h2 {
    font-size: 40px;
}

/**
 * 07.0 - Features
 * -----------------------------------------------
*/
#features {
	color: #fff;
	overflow: hidden;
}

#features .container {
	background-position: center bottom;
	background-repeat: no-repeat;
}

#features .icon-box {
	margin-bottom: 30px;
}

#features .icon-box .icon {
	width: auto;
	height: auto;
}

#features .icon-box .icon i {
	border: 2px solid transparent;
	border-radius: 50%;
	-webkit-border-radius: 50%;
	   -moz-border-radius: 50%;
	    -ms-border-radius: 50%;
	     -o-border-radius: 50%;
	color: #fff;
	font-size: 40px;
	padding: 13px 15px;
	position: relative;
    -webkit-transition: all ease 0.25s;
	   -moz-transition: all ease 0.25s;
	    -ms-transition: all ease 0.25s;
	        transition: all ease 0.25s;
}

#features .icon-box .icon i:after {
	border-style: solid;
	border-width: 0 0 17px 17px;
	bottom: 4px;
	content: "";
	height: 0;
	position: absolute;
	width: 0;
	left: 3px;
	z-index: -1;
	-webkit-transform: rotateY(180deg);
	   -moz-transform: rotateY(180deg);
	    -ms-transform: rotateY(180deg);
	     -o-transform: rotateY(180deg);
	        transform: rotateY(180deg);
}

#features .icon-box.right .icon i:after {
	left: auto;
	right: 3px;
	-webkit-transform: rotateY(0deg);
	   -moz-transform: rotateY(0deg);
	    -ms-transform: rotateY(0deg);
	     -o-transform: rotateY(0deg);
	        transform: rotateY(0deg);
}

#features img {
	margin-bottom: -124px;
	margin-top: 15px;
	max-width: 100%;
	width: 250px;
}

/**
 * 08.0 - Benefits of your App
 * -----------------------------------------------
*/
.benefits-of-app .icon-box {
	margin: 15px 0;
}

.benefits-of-app .icon-box .icon {
	padding-right: 15px;
}

.benefits-of-app .icon-box .icon i {
    color: #fff;
    border: 2px solid transparent;
	border-radius: 50%;
    font-size: 20px;
    padding: 10px;
    position: relative;
    -webkit-transition: all ease 0.25s;
	   -moz-transition: all ease 0.25s;
	    -ms-transition: all ease 0.25s;
	        transition: all ease 0.25s;
}

.benefits-of-app .icon-box:hover .icon i {
    border: 2px solid #fff;
}


/**
 * 09.0 - How it Works
 * -----------------------------------------------
*/
.how-it-works .icon-box {
	margin: 30px 0;
}

.how-it-works .icon-box .icon {
	padding-right: 30px;
}

.how-it-works .icon-box .icon i {
    border: 2px solid #ddd;
    border-radius: 50%;
    color: #333;
    font-size: 40px;
    padding: 17px 19px;
    position: relative;
    -webkit-transition: all ease 0.25s;
	   -moz-transition: all ease 0.25s;
	    -ms-transition: all ease 0.25s;
	        transition: all ease 0.25s;
}

.how-it-works .icon-box:hover .icon i {
    border-color: #fff;
    color: #fff;
}

/**
 * 10.0 - Screenshots
 * -----------------------------------------------
*/
#screenshots .owl-item .item img {
	opacity: 0.7;
    -webkit-transition: all ease 0.25s;
	   -moz-transition: all ease 0.25s;
	    -ms-transition: all ease 0.25s;
	        transition: all ease 0.25s;
}

#screenshots .owl-item .item:hover img {
	opacity: 1;
}

/**
 * 11.0 - Pricing Table
 * -----------------------------------------------
*/
.pricing-table {
	background: #f9f9f9;
}

.pricing-table:hover {
	background-color: #eee;
}

.pricing-table .header {
  background: none repeat scroll 0 0 #2a2a2a;
  color: #fff;
  font-size: 24px;
  margin-bottom: 30px;
  padding: 30px 0 50px;
  text-align: center;
  text-transform: uppercase;
}

.pricing-table .header i {
  border: 2px solid transparent;
  border-radius: 50%;
  color: #fff;
  font-size: 28px;
  height: 60px;
  left: 0;
  line-height: 60px;
  margin: 0 auto;
  position: absolute;
  right: 0;
  text-align: center;
  top: 70px;
  width: 60px;
    -webkit-transition: all ease 0.25s;
	   -moz-transition: all ease 0.25s;
	    -ms-transition: all ease 0.25s;
	        transition: all ease 0.25s;
}

.pricing-table:hover .header i {
  border-color: #fff;
}

.pricing-table .price {
	color: #2a2a2a;
	display: inline-block;
	font-size: 100px;
	line-height: 1.1;
	position: relative;
}

.pricing-table .price span {
	color: #2a2a2a;
	font-size: 25px;
	position: absolute;
}

.pricing-table .price span.currency {
	left: -17px;
	top: 14px;
}

.pricing-table .price span.month {
	bottom: 20px;
	font-size: 16px;
	right: -35px;
}

.pricing-table .table-list {
	border-top: 1px solid #e3e3e3;
	margin-bottom: 0;
}

.pricing-table .table-list li {
	border-bottom: 1px solid #e3e3e3;
	overflow: auto;
	padding: 12px 35px;
}

.pricing-table .table-list li.not {
	color: #999;
	text-decoration: line-through;
}

.pricing-table .btn-signup {
	display: block;
	font-size: 18px;
	margin: 0;
	padding: 20px 0;
}

.pricing-table:hover .btn-signup {
	background-color: #333;
}

/**
 * 13.0 - Mailchimp
 * -----------------------------------------------
*/
#mailchimp-subscription-form input {
	background-color: #fff;
	background-image: none;
	border: 1px solid #ddd;
	border-radius: 0;
	height: 65px;
}

#mailchimp-subscription-form button {
	height: 65px;
	margin: 0;
}

#mailchimp-subscription-form .form-control:focus {
	box-shadow: none;
}

/**
 * 14.0 - winning-history
 * -----------------------------------------------
*/
.winning-history {
	margin: 20px 0;
}

.winning-history i {
	font-size: 100px;
}

.winning-history h3 {
	text-transform: capitalize;
}

/**
 * 15.0 - Contact
 * -----------------------------------------------
*/
#contact .icon {
	margin-bottom: 20px;
}

#contact-form {
	margin-top: 40px;
}

#contact .form-group {
	margin-bottom: 30px;
}

#contact .form-control {
	background-color: #f7f7f7;
	background-image: none;
	border: 1px solid #ddd;
	border-radius: 0;
	box-shadow: none;
	font-size: 15px;
	height: 46px;
}

#contact .form-control:focus, #contact .form-control:active {
	border-color: #999;
	box-shadow: none;
}

#contact textarea.form-control {
	height: 200px;
	resize: none;
}

#contact .btn i {
	padding-right: 16px;
}

/**
 * 16.0 - footer
 * -----------------------------------------------
*/
#footer {
	background-color: #eee;
	padding: 60px 0;
}

#footer .footer-logo {
	margin: 50px 0;
}

#footer .footer-social {
	margin: 20px 0;
}

#footer .footer-social li {
	margin: 20px 0;
}

#footer .footer-social .triangle-down {
	border-left: 33px solid transparent;
	border-right: 33px solid transparent;
	border-top: 60px solid #2a2a2a;
}

#footer .footer-social li:hover .triangle-down {
	border-top-color: #444;
}

#footer .footer-social .triangle-down div {
	margin: -45px 0 0 -7px;
}

#footer .footer-social .triangle-down div i {
	color: #fff;
	font-size: 16px;
}